server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: cockple.demo
  profiles:
    active: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: update
    show_sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 1000
        show_sql: false

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  data:
    redis:
      host: cockple-redis
      port: 6379
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: 3000ms

  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  cache:
    type: redis

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET}
    credentials:
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  client-secret: ${KAKAO_CLIENT_SECRET}
  token-uri: https://kauth.kakao.com/oauth/token
  user-info-uri: https://kapi.kakao.com/v2/user/me
  redirect-uri: ${KAKAO_REDIRECT_URI}
  admin-key: ${KAKAO_ADMIN_KEY}
  unlink-uri: https://kapi.kakao.com/v1/user/unlink

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-validity: 3600000
  refresh-token-validity: 1209600000

logging:
  level:

    org.hibernate.SQL: WARN
