spring:
  datasource:
    url: jdbc:mysql://localhost:3307/cockple?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul

  data:
    redis:
      host: localhost
      port: 6380
      database: 0

  jpa:
    hibernate:
      ddl-auto: update
