server:
  port: 8080
  address: 0.0.0.0
  forward-headers-strategy: native

spring:
  application:
    name: cockple.demo
  profiles:
    active: local

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${DB_PASSWORD}

  sql:
    init:
      mode: never

  jpa:
    show_sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: false
        use_sql_comments: false
        default_batch_fetch_size: 1000

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

  data:
    redis:
      port: 6379
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: 3000ms

  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

  cache:
    type: redis

gcs:
  bucket: ${GCS_BUCKET}

kakao:
  client-id: ${KAKAO_CLIENT_ID}
  client-secret: ${KAKAO_CLIENT_SECRET}
  token-uri: https://kauth.kakao.com/oauth/token
  user-info-uri: https://kapi.kakao.com/v2/user/me
  redirect-uri: ${KAKAO_REDIRECT_URI}
  admin-key: ${KAKAO_ADMIN_KEY}
  unlink-uri: https://kapi.kakao.com/v1/user/unlink

jwt:
  secret: ${JWT_SECRET_KEY}
  access-token-validity: 3600000
  refresh-token-validity: 1209600000

logging:
  level:
    org.hibernate.SQL: WARN


