name: COCKPLE_CD
on:
  push:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: "adopt"
          cache: gradle

      - name: Set environment variables by branch
        id: vars
        run: |
          if [ "${{ github.ref_name }}" == "main" ]; then
            echo "DOCKER_TAG=latest" >> $GITHUB_OUTPUT
          else
            echo "DOCKER_TAG=staging" >> $GITHUB_OUTPUT
          fi

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew clean build -x test

      - name: Docker BUILD_PUSH
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -f Dockerfile -t ${{ secrets.DOCKER_REPO }}:${{ steps.vars.outputs.DOCKER_TAG }} .
          docker push ${{ secrets.DOCKER_REPO }}:${{ steps.vars.outputs.DOCKER_TAG }}

      - name: Copy files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          source: "docker-compose.yml,init-db.sql,nginx/,scripts/"
          target: /home/ubuntu/cockple

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: |
            chmod +x /home/ubuntu/cockple/scripts/deploy.sh
            bash /home/ubuntu/cockple/scripts/deploy.sh \
              ${{ secrets.DOCKER_REPO }} \
              ${{ github.ref_name }}
